---
export interface Props {
	imageMobile: string;
	imageDesktop: string;
	title: string;
	description: string;
    theme: string;
}

const { imageMobile, imageDesktop, title, description, theme } = Astro.props;

import Container from './Container.astro';
---

<div class="item">
    <div class="item__picture">
        <picture>
            <source media="(min-width:500px)" srcset={imageDesktop}>
            <img src={imageMobile} alt="" class="item__image">
        </picture>
    </div>
    <div class="item__text" data-theme={theme}>
        <Container>
            <h3 class="item__text-title">{title}</h3>
            <p class="item__text-description">{description}</p>
        </Container>
    </div>
</div>

<style lang="scss">
    .item {
        position: relative;

        @media (min-width: 720px) {
            flex: 1;
        }

        &__picture {
            height: 600px;
            display: flex;
            
            picture {
                width: 100%;
            }
        }

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }


        &__text {
            position: absolute;
            bottom: 60px;
            text-align: center;

            @media (min-width: 720px) {
                width: 340px;
                left: 50%;
                transform: translateX(-50%);
            }

            &[data-theme="green"] {
                color: var(--clr-darkcyan);
            }
            &[data-theme="blue"] {
                color: var(--clr-blue);
            }

            &-title {
                margin-bottom: 27px;
            }

            &-description {
                font-size: var(--fs-text-small);
                line-height: var(--lh-text-small);
                letter-spacing: -0.11px;
            }
        }
    }
</style>